body {
    margin: 0;
    font-family: Arial, sans-serif;

    background: url("butterdie.png") no-repeat center center fixed;
    background-size: cover;
}

.page-bg {
    min-height: 100vh;
    display: flex;

    background: url("butterdie.png") no-repeat center center fixed;
    background-size: cover;
}

.sidebar {
    width: 220px;
    height: 100vh;
    background: #111;
    color: white;

    position: fixed;
    top: 0;
    left: 0;

    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sidebar-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.sidebar-link {
    color: #ccc;
    text-decoration: none;
    padding: 10px;
    border-radius: 8px;
    transition: 0.2s;
}

.sidebar-link:hover {
    background: #333;
    color: white;
}

.sidebar-link.active {
    background: #0d6efd;
    color: white;
}

.main-content {
    margin-left: 220px;
    width: calc(100% - 220px);
}

.navbar {
    width: 100%;
}

.login-container {
    max-width: 300px;
    margin: 100px auto;
    padding: 40px 25px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}

img {
    border-radius: 50%;
}
