body {
    background: url('butterdie.png') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Arial', sans-serif;
    justify-content: center;
    align-items: center;
    height: 55vh;
    margin: 0;
}

.form-container {
    background-color: rgb(128, 126, 126);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}